:root{
    --htmlColor: #333333;
    --fontColor: #dddddd;
    --pointerColor: #b10000;
    --radialColor: #b10000b2;
    --radialHover: #8f0000;
    --radialActive: #c70000;
}
html{
    background: var(--htmlColor);
    height: 100%;
    width: 100%;
    font-size: 18px;
}
body{
    height: 100%;
    margin: 0;
    position: relative;
}
.no-text-decoration{
    text-decoration: none;
    color: whitesmoke;
}
.html-center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2rem -2rem;
    transform: translateX(-50%) translateY(-50%);
}
.pointer-vertical-left{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid var(--pointerColor);
    border-bottom: 15px solid transparent;
}
.radial-button{
    border: 1px solid var(--fontColor);
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--fontColor);
    text-align: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--radialColor);
    left: 50%;
    top: 50%;
    margin: -2rem -2rem;
    z-index: 11;
    transition: all 0.3s ease;
    outline: none;
}
.radial-button:hover{
    background-color: var(--radialHover);
}
.radial-wrap{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    z-index: 10;
    margin: -15rem -15rem;
    overflow: hidden;
    transform: scale(0.5);
    transition: all 0.3s ease;
}
.radial-wrap li{
    position: absolute;
    width: 30rem;
    height: 30rem;
    transform-origin: 100% 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin: -30rem 0 0 -30rem;
    transition: border ease 0.3s;
}
.radial-wrap li a{
    display: block;
    font-size: 6rem;
    height: 30rem;
    width: 30rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    text-align: center;
    background: radial-gradient(transparent 35%, var(--radialColor) 35%);
    transform: skew(-30deg) rotate(-60deg) scale(1);
    transition: opacity 0.3s, color 0.3s;
}
.radial-wrap li a i{
    font-size: 5rem;
}
.radial-wrap li a i{
    font-size: 2rem;
    opacity: 0.7;
}
.radial-wrap li:first-child{
    transform: rotate(60deg) skew(30deg); 
}
.radial-wrap li:nth-child(2){
    transform: rotate(120deg) skew(30deg); 
}
.radial-wrap li:nth-child(3){
    transform: rotate(180deg) skew(30deg); 
}
.radial-wrap li:nth-child(4){
    transform: rotate(240deg) skew(30deg); 
}
.radial-wrap li:nth-child(5){
    transform: rotate(300deg) skew(30deg); 
}
.radial-wrap li:nth-child(6){
    transform: rotate(360deg) skew(30deg); 
}
.radial-wrap li a:active{
    background-color: var(--radialActive);
}
.radial-wrap li a:hover{
    background:radial-gradient(transparent 35%, var(--radialHover) 35%);
}
.radial-opened{
    border-radius: 50%;
    transform: scale(1);
}
.radial-overlay{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:0;
    transition: all .3s ease;
    z-index:2;
    pointer-events:none;
}
.radial-overlay-on{
    pointer-events: auto;
    opacity: 1;
}
/* .pointer-vertical-right{
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid var(--pointerColor);
    border-bottom: 15px solid transparent;
}
.pointer-horizontal-top{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid var(--pointerColor);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.pointer-horizontal-bottom{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    bottom: 0;
    border-bottom: 20px solid var(--pointerColor);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
} */