:root{
    --htmlColor: #333333;
    --fontColor: #dddddd;
    --pointerColor: #b10000;
    --radialColor: #b10000;
    --radialHover: #8f0000;
}
html{
    background: var(--htmlColor);
    height: 100%;
    width: 100%;
    font-size: 18px;
}
body{
    height: 100%;
    margin: 0;
    position: relative;
}
.no-text-decoration{
    text-decoration: none;
    color: var(--fontColor);
}
.html-center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2rem -2rem;
    transform: translateX(-50%) translateY(-50%);
}
.pointer-vertical-left{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid var(--pointerColor);
    border-bottom: 15px solid transparent;
}
.radial-button{
    border: none;
    background: none;
    color: var(--fontColor);
    text-align: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--radialColor);
    left: 50%;
    top: 50%;
    margin: -1rem -1rem;
    z-index: 11;
}
.radial-button:hover,
.radial-button:focus,
.radial-button:active{
    background-color: var(--radialHover);
}
.radial-wrap{
    background-color: var(--radialColor);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    z-index: 10;
    transform: scale(0.5);
    transition: all 0.3s ease;
}
.radial-openned{
    border-radius: 50%;
    transform: scale(1);
}
.radial-overlay{

}
/* .pointer-vertical-right{
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid var(--pointerColor);
    border-bottom: 15px solid transparent;
}
.pointer-horizontal-top{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid var(--pointerColor);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.pointer-horizontal-bottom{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    bottom: 0;
    border-bottom: 20px solid var(--pointerColor);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
} */