:root{
    --htmlColor: #333333;
    --pointerColor: #b10000;
}
html{
    background: var(--htmlColor);
    height: 100%;
    width: 100%;
    font-size: 18px;
}
body{
    height: 100%;
    margin: 0;
    position: relative;
}
.pointer-vertical-left{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid var(--pointerColor);
    border-bottom: 15px solid transparent;
}
/* .pointer-vertical-right{
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid var(--pointerColor);
    border-bottom: 15px solid transparent;
}
.pointer-horizontal-top{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid var(--pointerColor);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.pointer-horizontal-bottom{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    bottom: 0;
    border-bottom: 20px solid var(--pointerColor);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
} */